<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MailChimpAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E39168A31BD44B4000B8EC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E39168B71BD44B4000B8EC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E39168C21BD44B4000B8EC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
